# Ignore specific files or directories
node_modules/
dist/
build/
coverage/

# Ignore specific file
**/sonarqube-scanner.js

# Ignore specific patterns
# For example, to ignore all test files
**/*.test.js
**/*.spec.js
